{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        // Initialize popup as usual
        $('.image-link').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom', // this class is for CSS animation below

            zoom: {
                enabled: true, // By default it's false, so don't forget to enable it

                duration: 300, // duration of the effect, in milliseconds
                easing: 'ease-in-out', // CSS transition easing function

                // The "opener" function should return the element from which popup will be zoomed in
                // and to which popup will be scaled down
                // By defailt it looks for an image tag:
                opener: function (openerElement) {
                    // openerElement is the element on which popup was initialized, in this case its <a> tag
                    // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }

        });

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000);
        }

    </script>
{% endblock %}
{% block body %}
    <header>
        <div class="w3-content w3-section" style="max-width: 2000px">
            <img class="mySlides w3-animate-fading" src="{{ asset('images/index/top_slider/people_Banner.jpg') }}" alt="people banner"
                 style="width:100%">
            <img class="mySlides w3-animate-fading" src="{{ asset('images/index/top_slider/light_big-banner.jpg') }}" alt="light banner"
                 style="width:100%">
            <img class="mySlides w3-animate-fading" src="{{ asset('images/index/top_slider/BVusa_Banner1.jpg') }}" alt="bvUSA banner"
                 style="width:100%">
        </div>
        <div class="retailer"><img src="{{ asset('images/index/top_slider/retailer-banner.png') }}" alt="our affiliates"></div>
    </header>
{% endblock %}