<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li><a href="{{ path("photo-form") }}">Photo Form</a></li>
            <li><a href="{{ path("video-form") }}">Video Form</a></li>
            <li><a href="{{ path("package-design-form") }}">Package Design Form</a></li>
            <li><a href="{{ path("product-design-form") }}">Product Design Form</a></li>
            <li><a href="{{ path("b2b-marketing-form") }}">B2B Marketing Form</a></li>
            <li><a href="{{ path("marketing-sales-form") }}"> Marketing Sales Form</a></li>
        </ul>
        <ul>
            <li><a href="{{ path("photo-list") }}">Photo list</a></li>
            <li><a href="{{ path("video-list") }}">Video list</a></li>
            <li><a href="{{ path("package-design-list") }}">Package Design list</a></li>
            <li><a href="{{ path("product-design-list") }}">Product Design list</a></li>
            <li><a href="{{ path("b2b-marketing-list") }}">B2B Marketing list</a></li>
            <li><a href="{{ path("marketing-sales-list") }}"> Marketing Sales list</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path("admin-logout") }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path("admin-login") }}">Login</a></li>
            {% endif %}
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
