<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> BV USA {% block title %} LLC {% endblock %}</title>
    <meta name="Specialize in photo, video, box and product design consultation."
          content="Specialize in photo, video, box and product design consultation.">
    <meta name="BV USA LLC" content="Wojciech Wojy Mietka and Kevin Otto">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block fonts %}
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous"/>
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('css/normalize.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('css/skeleton.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('css/navigationbar.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('css/slider.css') }}"/>#}
        {#<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>#}
    {% endblock %}
</head>
<body>
<h1> BV USA Website</h1>
{#<div class="container" id="logo">#}
    <!-----Left Side------->
    {#{% block mainNavigation %}#}

        {#<div class="four columns">#}
            {#<a href="{{ path('homepage') }}"><img src="" alt="BV"></a>#}
        {#</div>#}
        {#<!------Right Side----->#}
        {#<nav>#}
            {#<div class="navbar eight columns">#}
                {#<div class="dropdown" id="topnav">#}
                    {#<button class="dropbtn" style="padding-top: 10px">Services#}
                        {#<i class="fa fa-caret-down"></i>#}
                    {#</button>#}
                    {#<div class="dropdown-content">#}
                        {#<a href="{{ path('business-to-business') }}"><strong>B2B</strong> Marketing &amp; Sales</a>#}
                        {#<a href="{{ path('marketing-sales') }}">Marketing &amp; Sales</a>#}
                        {#<a href="{{ path('photo-and-video') }}">Photo &amp; Video Production</a>#}
                        {#<a href="{{ path('package-design') }}">Package Design</a>#}
                        {#<a href="{{ path('product-design') }}">Product Design</a>#}
                    {#</div>#}
                {#</div>#}
                {#<a href="{{ path('contact') }}">Contact</a>#}
                {#<a href="{{ path('about') }}">About</a>#}
            {#</div>#}
        {#</nav>#}
    {#{% endblock %}#}
    {% block body %}{% endblock %}
{#</div>#}
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
