{% extends "base.html.twig" %}

{% block body %}
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>{{ category | upper | replace({"-":" "})}} #</th>
                <th> Name </th>
                <th> Company </th>
                <th> Platform </th>
                <th> Edit </th>
            </tr>
        </thead>
        <tbody>
        {% for request in requestList %}
            <tr>
                <th scope="row"><a href="{{ path(requestLink,{'id':request.id}) }}">{{ request.id }}</a></th>
                <td>{{ request.name }}</td>
                <td>{{ request.company ?: '-' }}</td>
                <td>
                    {% if request.platform[0] is not null %}
                    {% for platform in request.platform %}
                        {{ platform|capitalize }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td><a class="btn btn-primary" href="{{ path(editLink,{'id':request.id}) }}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}