{% extends "base.html.twig" %}

{% block body %}
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>{{ category | upper | replace({"-":" "})}} #</th>
                <th> Name </th>
                <th> Company </th>
                <th> Supported Platforms</th>
                <th> Other Platforms </th>
                <th> Edit </th>
            </tr>
        </thead>
        <tbody>
        {% for request in requestList %}
            <tr>
                <th scope="row"><a href="{{ path(requestLink,{'id':request.id}) }}">{{ request.id }}</a></th>
                <td>{{ request.name }}</td>
                <td>{{ request.company ?: '-' }}</td>
                <td>
                    {% if not request.isAmazon and not request.isWalmart and not request.isEbay %}
                        -
                        {% else %}
                            {% if request.isAmazon %}
                                Amazon {{ request.isEbay ? ',' : request.isWalmart ? ',' : '' }}
                            {% endif %}
                            {% if request.isEbay %}
                                Ebay {{ request.isWalmart ? ',' : '' }}
                            {% endif %}
                            {% if request.isWalmart %}
                                Walmart
                            {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if request.otherPlatform %}
                    {% for otherPlatform in request.otherPlatform|json_decode %}
                        {{ otherPlatform|capitalize }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td><a class="btn btn-primary" href="{{ path(editLink,{'id':request.id}) }}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}