{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #requestView span{
            font-weight:700
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" id="requestView">
        {% for message in app.session.flashbag.get('edit-success') %}
            {{ message }}
        {% endfor %}
        <div>
            <p><span>Name: </span> {{ requestData.name }}</p>
            <p><span>Company: </span> {{ requestData.company ?: "N/A" }}</p>
            <p><span>Email: </span><a href="mailto:{{ requestData.email }}">{{ requestData.email }}</a></p>
            <p><span>Contact: </span>{{ requestData.contactNumber ?: "N/A" }}</p>
            <p><span>Category: </span>{{ requestData.category|replace({'-':' '})|ucwords }}</p>
            <p><span>Quantity: </span>{{ requestData.quantity ?: "N/A" }}</p>
            <p><span>Platforms: </span>{{ requestData.isAmazon ? "Amazon " : requestData.isEbay ? "Ebay " ? requestData.isWalmart ? "Walmart" : "N/A"  }}</p>
            <p><span>Other Platforms: </span>
                {% if requestData.otherPlatform|split(',')|length %}
                    {% for platform in requestData.otherPlatform|split(',') %}
                        {{ platform|capitalize }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                    {% else %}
                        N/A
                {% endif %}
            </p>
            <p><span>Message: </span>{{ requestData.message }}</p>
            <p><span>Status: </span>{{ requestData.isActive ? "Active" : "Closed" }}</p>
            {% if app.user and requestData.isActive %}
            <p>
                <a href="{{ path(
                    app.request.attributes.get('_route')|replace({'view':'edit'}),
                    app.request.attributes.get('_route_params')) }}">Edit
                </a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
